<div class="form_section">


<div class="card box" style="width: 18rem;">
<h5 class="card-title">Forgot Password</h5>
<form action="/reset_password" method="POST">

    <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email" name="email" required>
    </div>
    
  
  <div class="form-btn">
      <button type="submit" class="btn btn-primary primary-btn">Reset Password</button>
  </div>
  
</form>

</div>


</div>